<div class='login-container shadow'>
    <h4>Login</h4>
    <hr>
    <!-- Log in form -->
    <form class="login-form form-group">
        <div class="form-group">
            <label for="username">username:</label>
            <input type="text" id="username" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">password:</label>
            <input type="password" id="password" class="form-control" />
        </div>
        
        <button type="submit" class="btn btn-primary">login</button>
    </form>
    

    Or <a href='/signup'>Sign up</a>
</div>

<script src="/javascript/login.js"></script>